/* html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
} */

/* :root {
  --grid-rows: 16;
  --grid-cols: 16;
  --grid-size: 50px;
} */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  align-items: center;
  gap: 80px;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 200px;
}

.btn {
  width: 80%;;
}

.container {
  border: rgb(0,0,0) 5px solid;
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(16, 50px);
  grid-auto-rows: repeat(16, 50px);
  justify-items: stretch;
  align-items: stretch;
}

.cell {
  border: 1px solid rgb(245, 245, 245);
}

#colorFront {
  background-color: #F5FF55;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 0px;
}


#colorPicker {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}

#colorPicker::-webkit-color-swatch-wrapper {
	padding: 0;
}

#colorPicker::-webkit-color-swatch {
	border: none;
}

#newGridSelector {
  
}